
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="fragments/headbar :: headbar('Pick a number')"/>
    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        <ul>
        <li>
            <a href="/rolldice/1">1</a>
        </li>
        <li>
            <a href="/rolldice/2">2</a>
        </li>
        <li>
            <a href="/rolldice/3">3</a>
        </li>
        <li>
            <a href="/rolldice/4">4</a>
        </li>
        <li>
            <a href="/rolldice/5">5</a>
        </li>
        <li>
            <a href="/rolldice/6">6</a>
        </li>
        </ul>
    </body>
</html>
